<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.default_schema">inventario</property>
		<property name="hibernate.connection.CharSet">UTF-8</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        <property name="hibernate.connection.useUnicode">true</property>
			
		<property name="connection.url">
			jdbc:mysql://localhost:3306/inventario?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		
		<property name="hibernate.show_sql">false</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">false</property>
		

		<mapping class="mx.unam.posgrado.inventory.hibernate.Usuario" />
		<mapping class="mx.unam.posgrado.inventory.hibernate.Proveedor" />
		<mapping class="mx.unam.posgrado.inventory.hibernate.Marca" />
		<mapping class="mx.unam.posgrado.inventory.hibernate.Tipo" />
		<mapping class="mx.unam.posgrado.inventory.hibernate.Almacen" />
		
	</session-factory>

</hibernate-configuration>